.frame_banner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 10vw;
    gap: 20px;

    width: 100vw;
}

.frame_banner .banner {
    flex: none;
    order: 1;
    flex-grow: 1;
    width: 50%;
}

.banner img {
    width: 30vw !important;
    height: 37vw !important;
    padding: 3vw !important;
}

.banner h1 {
    font-style: normal;
    font-weight: bolder;
    font-size: 3vw;
    line-height: 1.4;
    color: #42494D;
    margin-bottom: 0rem;
}

.banner h4 {
    font-style: normal;
    font-weight: 400;
    font-size: 1vw;
    color: #7B8082;
}

.banner button {
    padding: 8px 1.2rem;
    background: #E6AB09;
    border: unset;
    margin-top: 1rem;
    border-radius: 10px;
    font-weight: bolder;
    cursor: pointer;
}

.container {
    width: 100vw;
    background-color: #FFCB3B;
}

.cards_header {
    text-align: center;
    margin: 2rem;
}

.cards_header span {
    color: #42494D;
}

.cards_body {
    margin: 0 10%;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    z-index: 1;
    align-content: space-around;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    gap: 10px;

    width: 26%;

    background: #FFFFFF;
    box-shadow: 5px 10px 25px rgba(0, 0, 0, 0.35);
    border-radius: 24px;

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 2rem 0;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.1);
}

.img_item {
    background-color: #42494D;
    margin: 2rem 1.5rem 0 1.5rem;
}

.body_item {
    margin: 0 1.5rem;
}

.body_item span {
    color: #B3B6B8;
    font-weight: bolder;
}

.pagination {
    margin-bottom: 2rem;
    text-align: center;
}

.pagination button {
    cursor: pointer;
    background-color: transparent;
    color: #fff;
    border: 4px solid #fff;
    border-radius: 10px;
    font-size: 1.25rem;
    font-weight: bolder;
    margin: 1.5rem 3rem;
    width: 10rem;
}

.pagination span {
    color: #fff;
    font-size: 1rem;
    font-weight: bolder;
    width: 10rem;
}

.selection, .selection:hover, .selection:active, .selection:focus {
    color: #fff;
    font-size: 1rem;
    font-weight: bolder;
    border: 4px solid #fff;
    border-radius: 10px;
    background-color: transparent;
    margin: 1.5rem 1rem;
}

.labels {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    text-align: center;
}

.label {
    padding: 5px 10px;
    margin: 1vw 1vw;
    gap: 10px;
    width: 40%;
    background: #E66D00;
    border-radius: 25px;
    color: #fff;
}