.body_types {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.sidebar {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.sidebar h4 {
    margin-block-end: 0;
}

.sidebar ul {
    height: 65vh;
    overflow-y: scroll;
    width: 75%;
}

.sidebar ul::-webkit-scrollbar {
    width: 1px;
}

.sidebar ul::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.sidebar ul::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

.list_type {
    line-height: 2;
    cursor: pointer;
}

.contents {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.cards {
    width: 100%;
    min-height: 50vh;
    max-height: 65vh;
    background: rgba(255, 255, 255, 0.85);
    box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.08);
    border-radius: 1rem;
    padding: 1rem 2rem;
}

.card_body {
    overflow-y: auto;
    width: 100%;
    min-height: 50vh;
    max-height: 60vh;
    display: block;
}

.card_body::-webkit-scrollbar {
    width: 1px;
}

.card_body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.card_body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

/* Style List Item */
.card_body tr {
    border-bottom: 1px solid black;
    width: 100%;
    padding-bottom: 1rem;
    margin: 1rem 0;
    display: flex;
}

.card_body tr td {
    border-right: 1px solid black;
    padding: 0.2rem;
    text-align: center;
}

.card_body tr td:nth-child(1), .card_body tr td:nth-child(2) {
    width: 20%;
}

.card_body tr td:nth-child(3), .card_body tr td:nth-child(4) {
    width: 30%;
}

.card_body tr td:nth-child(4) {
    border-right: unset;
    text-align: left;
}

.labels {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    text-align: center;
}

.label {
    padding: 5px 10px;
    margin: 1vw 1vw;
    gap: 10px;
    width: 40%;
    background: #E66D00;
    border-radius: 25px;
    color: #fff;
}